<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/83e21024c7.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="../css/reset.style.css">   
    <link rel="stylesheet" href="../css/main.style.css">
    <link rel="stylesheet" href="../css/base.style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap" rel="stylesheet">

    <title>Kenzie Habit</title>
</head>

<body>
    <header class="container_header">
        <div class="caixa_logo">          
            <h1>Kenzie Habit</h1>
            <div class="dropdown_perfil">
                <div class="dropdown_menu">
                </div>
            </div>
        </div>
        <div class="caixa_header_color">
            <div class="caixa_usuario">  
            </div>
        </div> 
    </header>

    <main>
        <div class="div_tarefas">
            <h2 class="titulo">Tarefas</h2>
            <div class="div_categorias">
                <button class="todos">Todos</button>
                <button class="concluidos">Concluídos</button>
                <button class="botao_criar">Criar</button>
            </div>
        </div>
        <div class="margin_tabela">
            <table class="tabela">
                <tr>
                    <th class="status_tabela">Status</th>
                    <th class="titulo_div">Título</th>
                    <th class="descricao_tabela">Descrição</th>
                    <th class="categoria_tabela">Categoria</th>
                    <th class="editar_tabela">Editar</th>
                </tr>
                <tr>
                    <td class="checkbox"><input type="checkbox"></td>
                    <td class="texto_div">Texto de exemplo</td>
                    <td class="descricao_texto">teste</td>
                    <td class="categoria_texto"><button class="botao_texto">Teste</button></td>
                    <td class=""><img class="reticencias" src="../assets/img/reticencias.png" width="20px" 
                    height="20px" alt=""></td>
                </tr>
            </table>
        </div>
        <button class="carregar_conteudo">Carregar Mais</button>
    </main>
    

   
    <script type="module" src="../models/habito.models.js"></script>
    <script type="module" src="../scripts/main.scripts.js"></script>
</body>
</html>