<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <title>Kenzie Habit</title>
</head>

<body>
    <header class="container_header">
        <div class="caixa_logo">
            <h1>Kenzie Habit</h1>
            <img src="#" alt="menu_usuario">
        </div>
        <div class="caixa_usuario">
            <img src="#" alt="nome_usuario">
            <h2>Nome Usuario</h2>
        </div>
    </header>
</body>

</html>