<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/83e21024c7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.style.css">
    <link rel="stylesheet" href="../css/reset.style.css">
    <link rel="stylesheet" href="../css/base.style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap" rel="stylesheet">

    <title>Kenzie Habit</title>
</head>

<body>
    <header class="container_header">

        <div class="caixa_logo">
            <h1>Kenzie Habit</h1>
            <div class="dropdown_perfil">
                <figure>
                    <img src="../assets/img/user.png" alt="menu_usuario">
                </figure>
                <div class="dropdown_menu">
                </div>
            </div>
        </div>

        <div class="caixa_header_color">
            <div class="caixa_usuario">  
            </div>
        </div>

        
        
    </header>


    <div class="caixa_editar_perfil">
        
        <form class="form_edit_perfil" action="#">

            <div class="caixa_titulo_fechar">
                <h2>Editar Perfil</h1> 
                <button><i class="fa-solid fa-x fechar_editar_perfil"></i></button>
            </div>

            <label for="nome_user">Nome</label>
            <input type="text" name="nome" id="nome_user" disabled>
            
            <label for="url_avatar_perfil">URL da imagem do perfil</label>
            <input type="text" name="url" id="url_avatar_perfil" placeholder="https://imagem.com">

            <button class="btn_edit_perfil" type="submit">Salvar Alterações</button>
        </form>
    </div>

    <script type="module" src="../scripts/main.scripts.js"></script>
</body>

</html>