<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar no KenzieHabit</title>
</head>
<body>
    
    <main>
        <div class="apresentacao_login">
            <h2>KenzieHabit</h2>
            <p>If you are going to use a <u>passage</u> of Lorem Ipsun</p>
            <p>you need to be sure there isn't anything</p>
        </div>

        <div class="campo_de_dados_login">
            <h3 class="titulo_form">Login</h3>
            <form class="form_login">
                <label class="label_input_login" for="">Usuário</label>
                <input class="input_login" type="text" name="email">
                <label class="label_input_login" for="">Senha</label>
                <input class="input_login" type="password" name="password">
                <button class="button_login" type="submit">Entrar</button>
            </form>

        </div>
    </main>

</body>
</html>